/* Your Styles */
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
/* diagnostic styling. remove when done */
main img {
    width: 30%;
    border-radius: 10%;

}
h2{
    font-family: 'Gotu', sans-serif;
    font-size: 2rem;
}
figcaption {
    font-family: 'Gotu', sans-serif;
    font-size: 1rem;
}

dialog img{
    width: 45%;
}

/* Layout with css grid */
body {
    display: grid;
    background-color: #233b4e64;
}

main {
    /* css grid */
    place-self: center;

    /* flexbox */
    display: flex;
    flex-wrap: wrap;
}

figure {
 margin: 1px;
 /* set your width */
 width: 33%;
}
  
/* Backdrop for modal overlay */
::backdrop {
    background: rgba(0, 0, 0, 0.75);
    border: none;
}

/* Animation */
dialog {
    animation: fadeIn 1s;
}